@font-face {
  font-family: 'QuartzMS';
  src: URL('./assets/QuartzMS.ttf') format('truetype');
}

@font-face {
  font-family: 'Bravura';
  src: URL('./assets/Bravura.otf') format('opentype');
}

.container {
  text-align: center;
}

.picker-span {
  display: inline;
  font-size: 40px;
  font-family: Bravura;
}

.beatsRow {
  margin-top: 20px;
  position: relative;
}

.beats {
  text-align: center;
}

.type {
  text-align: center;
  margin-top: -141px;
}

.bpmRow {
  margin-top: -25px;
}

.bpm {
  display: inline;
  font-size: 30px;
  font-family: QuartzMS;
}

.upArrow {
  border: 2px solid red;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
  font-size: 30px;
  padding: 0px;
}

.downArrow {
  border: 2px solid green;
  cursor: pointer;
  margin-left: 10px;
  text-align: center;
  font-size: 30px;
  padding: 0px;
}

.timerRow {
  margin-top: 25px;
  font-size: 30px;
  font-family: QuartzMS;
}

.timerBtn {
  border: 2px solid gray;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  font-size: 25px;
  padding: 2px;
}

.ppp {
  font-family: Bravura;
  font-size: 40px;
}