@font-face {
  font-family: 'QuartzMS';
  src: URL('./assets/QuartzMS.ttf') format('truetype');
}

.container {
  text-align: center;
}

.bpm {
  display: inline;
  font-size: 30px;
  font-family: QuartzMS;
}

.upArrow {
  border: 2px solid red;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
  font-size: 30px;
  padding: 0px;
}

.downArrow {
  border: 2px solid green;
  cursor: pointer;
  margin-left: 10px;
  text-align: center;
  font-size: 30px;
  padding: 0px;
}

.timerRow {
  font-size: 30px;
  font-family: QuartzMS;
}

.timerBtn {
  border: 2px solid gray;
  cursor: pointer;
  margin-left: 10px;
  text-align: center;
  font-size: 25px;
  padding: 2px;
}