.container-login {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color:#b5b2a8;
    border-radius: 10px;
    padding: 10px;
}
    
.label{
    display: block;
    font-size: 18px;
    color: black;
    padding: 5px;
}

.input{
    font-size: 18px;
    padding: 5px;
    margin: 2px;
}

.btn{
    background-color: #97f0da;
    color: #2b3b37;
    border-radius: 6px;
    border-width: 1px;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 5px;
    margin: 15px auto;
}

.btn:hover {
    background-color: #6be3c5;
}

.messages{
    display: flex;
    justify-content: center;
}

.error{
    display: block;
    color: red;
    width: fit-content;
    height: 30px;
    padding: 5px;
}

.success{
    display: block;
    color: green;
    width: fit-content;
    height: 30px;
    padding: 5px;
}

.join {
    font-size: 16px;
    margin-top: 40px;
}

.joinLink {
    color: #0262bd;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
}

.joinLink:hover {
    text-decoration: underline;
}
    