@font-face {
    font-family: 'Bravura';
    src: URL('./assets/Bravura.otf') format('opentype');
}

.upArrow {
    border: 2px solid red;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
    font-size: 30px;
    padding: 0px;
}
  
.downArrow {
    border: 2px solid green;
    cursor: pointer;
    margin-left: 10px;
    text-align: center;
    font-size: 30px;
    padding: 0px;
}

.picker-span {
    font-size: 40px;
    font-family: Bravura;
    display: inline-block;
}

.timesignature-row {
    display: flex;
    cursor: pointer;
}

.beats-span {
    width: 100%;
    margin-top: -20px;
}

.type-span {
    width: 100%;
    margin-left: -100%;
}

.visible {
    visibility: visible;
    display: initial;
}

.gone {
    visibility: hidden;
    display: none;
}